.App {
  margin: 0;
  text-align: center;
}

.quiz {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.quizContainer {
  width: 30rem;
  display: flex;
  padding: 2rem;
  border-radius: 1rem 4rem;
  justify-content: space-around;
  flex-direction: row;
  box-shadow: -1px -1px 41px -2px rgba(0,0,0,0.49);
  -webkit-box-shadow: -1px -1px 41px -2px rgba(0,0,0,0.49);
  -moz-box-shadow: -1px -1px 41px -2px rgba(0,0,0,0.49);
}

.questionContainer {
  display: flex;
  flex-direction: column;
}

.nameLabel {
  color: rgb(10, 135, 213);
}

.questionLabel {
  color: rgb(10, 135, 213);
}

.scorePage {
  display: flex;
  flex-direction: column;
}

.button {
  width: 12rem;
  border: none;
  border-radius: 4rem;
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: rgb(10, 135, 213);
  color: white;
  transition: all .5s ease;
}

.button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(10, 135, 213);
  border: 1px solid rgb(10, 135, 213);
}